// Colors
$black = hsl(0, 0%, 4%)
$black-bis = hsl(0, 0%, 7%)
$black-ter = hsl(0, 0%, 14%)
$grey-darker = hsl(0, 0%, 21%)
$grey-dark = hsl(0, 0%, 29%)
$grey = hsl(0, 0%, 48%)
$grey-light = hsl(0, 0%, 71%)
$grey-lighter = hsl(0, 0%, 86%)
$white-ter = hsl(0, 0%, 96%)
$white-bis = hsl(0, 0%, 98%)
$white = hsl(0, 0%, 100%)
$orange = hsl(14, 100%, 53%)
$yellow = hsl(48, 100%, 67%)
$green = hsl(141, 71%, 48%)
$turquoise = hsl(171, 100%, 41%)
$blue = hsl(217, 71%, 53%)
$purple = hsl(271, 100%, 71%)
$red = hsl(348, 100%, 61%)
// Typography
$family-sans-serif = BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace = monospace
$render-mode = optimizeLegibility unless $render-mode
$size-1 = 3rem unless $size-1
$size-2 = 2.5rem unless $size-2
$size-3 = 2rem unless $size-3
$size-4 = 1.5rem unless $size-4
$size-5 = 1.25rem unless $size-5
$size-6 = 1rem unless $size-6
$size-7 = 0.75rem unless $size-7
$weight-light = 300 unless $weight-light
$weight-normal = 400 unless $weight-normal
$weight-medium = 500 unless $weight-medium
$weight-semibold = 600 unless $weight-semibold
$weight-bold = 700 unless $weight-bold
// Responsiveness
// The container gap, which acts as the offset for breakpoints
$gap = 24px unless $gap
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet = 769px unless $tablet
// 960px container + 3rem
$desktopSize = 960px unless $desktopSize
$desktop = $desktopSize + 2 * $gap
// 1152px container + 3rem
$widescreenSize = 1152px unless $widescreenSize
$widescreen = $widescreenSize + 2 * $gap
// 1344px container + 3rem
$fullhdSize = 1344px unless $fullhdSize
$fullhd = $fullhdSize + 2 * $gap
// Miscellaneous
$easing = ease-out unless $easing
$radius-small = 2px unless $radius-small
$radius = 3px unless $radius
$radius-large = 5px unless $radius-large
$speed = 86ms unless $speed
